.details {
  position: absolute;
  bottom: 0px;
  height: 10%;
  width: 100%;
  background-color: whitesmoke;
}

.pagenumber {
  display: inline-block;
  padding: 2%;
}

.album {
  display: inline-block;
  background-color: whitesmoke;
}
.pic {
  display: inline-block;
  padding: 2%;
  max-width: 100%;
  height: auto;
}

.example {
  padding: 2%;
}
